* {
  border: solid red 1px;
}

html {
  width: 100%;
  height: 100%;
  background-color: white;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.footer {
  width: 1000px;
  font-size: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 15px;
}

.footer img {
  width: 27px;
  height: 27px;
  margin: 0;
  padding: 0px;
}